<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <link rel="shortcut icon" href="img/logo_b.png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin Dashboard Panel</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="img/logo_b.png" alt="">
            </div>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/ad_home">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dahsboard</span>
                    </a></li>
                <li><a href="/ad_movies">
                        <i class="uil uil-clapper-board"></i>
                        <span class="link-name">Movies List</span>
                    </a></li>
                <!-- <li><a href="#">
                        <i class="uil uil-film"></i>
                        <span class="link-name">Shows List</span>
                    </a></li> -->
                <li><a href="/ad_user">
                        <i class="uil uil-user"></i>
                        <span class="link-name">Users</span>
                    </a></li>
                <li><a href="/ad_avatar">
                        <i class="uil uil-users-alt"></i>
                        <span class="link-name">Avatar icon</span>
                    </a></li>
                <li><a href="/ad_genre">
                        <i class="uil uil-postcard"></i>
                        <span class="link-name">Genre</span>
                    </a></li>
                <li><a href="/ad_where">
                        <i class="uil uil-tv-retro"></i>
                        <span class="link-name">Streaming</span>
                    </a></li>
            </ul>
            <!-- <hr class="styled-divider"> Divider with class added here -->
            <ul class="nav-links">
                <li><a href="/" class="main-page-link">
                        <i class="uil uil-arrow-circle-left"></i>
                        <span class="link-name">Main Page</span>
                    </a></li>
                </li>
                <li><a href="/logout">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>
                </li>
            </ul>
        </div>
    </nav>
</body>


</html>