/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --bg-color: #141414;
  --text-color: #fff;
  --black-color: #000;
  --red-color: #AC1F1F;
  --red-hover-color: #8c1a1a;
  --dropdpwn-color: #f4f4f4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: var(--bg-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
}

.nav .nav-links {
  position: relative;
  column-gap: 20px;
  list-style: none;
  text-align: center;
  left: 9.1%;
}

.nav .nav-links a {
  transition: all 0.2s linear;
}



.nav .nav-links a:hover:not(.signup),
.responsive-auth-buttons .login:hover {
  color: var(--red-color);
  /* Muda a cor para vermelho */
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .user-icon {
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

.auth-buttons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.login {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
}

.signup {
  background-color: var(--red-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.signup:hover {
  background-color: var(--red-hover-color);
}

.responsive-auth-buttons {
  display: none;
  /* Esconde os botões fora do menu responsivo */
}

.auth-buttons .login:hover {
  color: var(--red-color); /* Muda a cor para vermelho */
  transition: all 0.2s linear;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }

  .nav .search-box {
    right: 150px;
  }

}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }

  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {

  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  .nav {
    padding: 15px 20px;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: var(--bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav.openNav .nav-links {
    left: 0;
  }

  .nav .navOpenBtn {
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .auth-buttons {
    display: none;
    /* Esconde os botões fora do menu responsivo */
  }

  .responsive-auth-buttons {
    display: flex;
    flex-direction: column;
    /* Empilha os botões verticalmente */
    gap: 10px;
    /* Espaçamento entre os botões */
    margin-top: 20px;
    /* Espaço superior */
  }

  /* Adicionando estilo para os links dentro do menu responsivo */
  .responsive-auth-buttons .login,
  .responsive-auth-buttons .signup {
    font-size: 16px;
    padding: 8px 12px;
    color: white;
    background-color: var(--red-color);
    /* Cor do botão Sign up */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .responsive-auth-buttons .login {
    background-color: transparent;
    /* Torna o botão Login transparente */
    color: white;
  }

  .nav .nav-links a,
  .responsive-auth-buttons .login {
    transition: color 0.3s ease;
    /* Animação suave para a mudança de cor */
  }

  /* Estilo para quando o mouse passa sobre os links */
  .nav .nav-links a:hover:not(.signup), 
  .responsive-auth-buttons .login:hover {
    color: var(--red-color);
    /* Muda a cor para vermelho */
  }

}

