<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Stream</title>
</head>
<body>
    <!-- Include the correct nav file based on the session -->
    <%- include(`../components/${navFile}`) %>
    
    <!-- Include the sidebar -->
    <%- include('../components/sidebar') %>

    <!-- Conteúdo da página account -->
    <h1>Account Page</h1>
    <p>Bem-vindo à sua conta!</p>
</body>
</html>